<h1>About us</h1>

<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nam nisi at quasi eum, dolores, dolore nemo molestiae aut perferendis in est rem, placeat voluptas earum harum ipsa velit a.
</p>

<h3>Our Story</h3>


<h3>Our Team</h3>
<div class="row">
	<div class="small-4 large-4 columns">
		<div class="small-6 large-6 columns">
	 		<%= image_tag('camille.png', width: "100%", alt: "camille", class:"team") %>
		</div>
	 	<div class="small-6 large-6 columns">
			<h5>Camille<h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</div>
	</div>
	<div class="small-4 large-4 columns">
		<div class="small-6 large-6 columns">
		 <%= image_tag('personne.png', width: "100%", alt: "esra", class:"team") %>
		</div>
		<div class="small-6 large-6 columns">
			<h5>You<h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
	</div>
	<div class="small-4 large-4 columns">
		<div class="small-6 large-6 columns">
		<%= image_tag('personne.png', width: "100%", alt: "esra", class:"team") %>
		</div>
		<div class="small-6 large-6 columns">
			<h5>You<h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
	</div>
</div>
