<div class="small-centered large-centered main">
	<h3 style="text-align: center"><%= t('thanks') %></h3>
	<p><%= t('thanks2') %></p>
	<p><%= link_to 'Back to home', root_url, :class => 'button' %></p>
</div>
