<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @contact[:full_name] %></h1><br>
    <p><%= @contact[:email] %></p><br>
    <p><%= @contact[:description] %></p>  
</body>
</html>
