@import "foundation_and_overrides";
@import 'foundation-icons';

@font-face {
	font-family: "Raleway";
	font-family: "Lato";
	src: font-url('Raleway.ttf');
	src: font-url('Raleway.ttf');
}

$green : #007B69;
$yellow: #EAAB00;
$grey : #f1f1f1;

.logo {
  font-family: 'Raleway', sans-serif;
	.co { color: $yellow }
	.nav { font-size: 2.5em }
}

.top-bar-section {
	ul { background: none }

	li:not(.has-form) a:not(.button) {
		font-family: 'Raleway', sans-serif;
		font-size: 1em;
		font-weight: 500;
		background: $green;
	}

	li:not(.has-form) a:not(.button):hover, li:not(.has-form):hover {
		color : $yellow ;
		background: darken($green, 2%)
	}

	i { font-size: 1.5em }

}

.top-bar {
	background: $green;
	overflow: visible;
	height: 55px;
	padding-top: 5px;
}

.top-bar-ul{
	i {
	font-style: normal;
	padding:0 15px;
	}
	a { color: white }
}

i {
	font-style: normal;
	padding:0 15px;
}

body {
	font-family: 'Raleway', sans-serif;
	background: #eceef1;
}

.app {
	padding: 0 90px;
}

h1 {
	text-align: center;
	margin-bottom: 40px;
}

h2, h3 { 
	font-weight: 100;
	color: $yellow;
}

h2 {
	margin-bottom: 30px;
}
p { font-family: 'Lato', sans-serif }

.large-icon {
	text-align: center;
}

.button {
	background: $green;
	&:hover{
	background:darken($green, 10%);
	}
}

.space {
	margin-top: 4em;
	padding-top: 3em;
	margin-bottom: 2em;
	background-color: #FAFAFA;
  h4 {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.main {
	text-align: center;
	margin-bottom: 2em;
	font-family: 'Lato', sans-serif;
	h4, p {
		text-align: center;
		font-family: 'Lato', sans-serif;
	}
}

.footer {
	background: $green;
	font-size: 0.8em;
	font-family: 'Raleway', sans-serif;
  // position: fixed;
  bottom: 0px;
  width: 100%;
	a {
		color: $grey;
	 	font-size: 0.8em;
	}

	p {
		color: $grey;
	 	font-size: 1.2em;
	}
}

.contact {
	margin-top: 45px;
	margin-bottom: 20px;
}
