<div class = "footer">
<footer class="row ">
    <div class="large-12 columns">

      <div class="row">
        <div class="large-6 columns">
          <p> Chopsticks.io © 2014. All right reserved.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </div>
